.home {
    padding-top: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
  
  .home .image img {
    width: 100%;
  }

  .home .content h1 {
    font-size: 5.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .home .content p {
    color: var(--grey);
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .home .content .home-btn {
    display: inline-block;
    color: var(--white);
    font-weight: 500;
    border-radius: 0.5rem;
    background-color: var(--yellow);
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    transition: var(--transition);
  }
  
  .home .content .home-btn:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow);
  }

  @media (max-width: 999px) {
    .home .content h1 {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 768px) {
    .home .content h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  
    .home .content p {
      font-size: inherit;
      margin-bottom: 1.5rem;
    }
  
    .home {
      grid-template-columns: 1fr;
    }
  
    .home .image {
      max-width: 40rem;
      margin: 0 auto;
    }
  }






  section.services {
    background-color: var(--bg-yellow);
    padding: 5rem 9%;
  }
  
  .services .top {
    text-align: center;
    margin-bottom: 5rem;
  }
  
  .services .top h2 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  
  .services .top p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.8rem;
    color: var(--grey);
  }

  .services .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
  }

  .services .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
  }
  
  .services .bottom .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 2rem;
    border-radius: 0.5rem;
  }
  
  .services .bottom .box:hover {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
  }
  
  .services .bottom .box img {
    height: 6rem;
  }
  
  .services .bottom .box h4 {
    font-size: 2.4rem;
    margin: 1.5rem 0;
  }
  
  .services .bottom .box p {
    color: var(--grey);
    margin-bottom: 1.5rem;
  }
  
  .services .bottom .box a {
    display: inline-block;
    font-weight: 500;
  }
  
  .services .bottom .box a img {
    height: 1rem;
  }

  @media (max-width: 768px) {
    .services .top {
      margin-bottom: 3rem;
    }
  
    .services .top p {
      width: 100%;
      font-size: inherit;
    }
  
    .services .top h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  
    .services .bottom .box {
      padding: 1.5rem;
    }
  }  




  section.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    padding-bottom: 5%;
  }
  
  .about .image img {
    width: 50%;
    align-items: center;
  }
  
  .about .content h3 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .about .content p {
    color: var(--grey);
    width: 90%;
    margin-bottom: 3rem;
  }

  @media (max-width: 768px) {
    section.about {
      grid-template-columns: 1fr;
      gap: 3rem 0;
    }
  
    .about .image {
      width: 90%;
    }
  
    .about.about-2 .image {
      grid-column-start: 1;
      grid-row-start: 1;
    }
  
    .about .content h3 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .about .content p {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  
  