/* =========== CSS Variables =========== */

/* :root {
    --black: #1f1f1f;
    --white: #fff;
    --yellow: #ffc554;
    --deep-yellow: #ffc727;
    --bg-yellow: #fffaf1;
    --btn-yellow: #fff4d4;
    --footer-yellow: #fff9e9;
    --grey: #737373;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --transition: all 0.2s linear;
} */

:root {
    --black: #1f1f1f;
    --white: #ffffff;
    --pageBlue: #0570b4;
    --pageLightBlue: #38cac7;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --transition: all 0.2s linear;
}

/* ~~~~~ Basic Styling to reset all the pre-applied CSS style ~~~~~ */

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
}

/* Links */

a {
    text-decoration: none;
    color: inherit;
}

/* List Styles */

li {
    list-style: none;
}

/* Images */

img {
    height: 100%;
}

/* Sections */

section {
    padding: 2rem 9%;
}



/* ~~~~~ Pre Loader Section Styling ~~~~~ */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000000;
}
  
  .preloader img {
    width: 20rem;
    height: 20rem;
}



/* ~~~~~~~~~~~~~~ Navigation Bar Styling ~~~~~~~~~~~~~~~ */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    height: 8rem;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

/* Logo "BiteBuddy" Styling */
.logo {
    font-size: 3.6rem;
    font-weight: 900;
}

.logo .blue-text {
    color: var(--pageBlue);
}

/* NavBar Styling */

.navbar {
    display: flex;
    align-items: center;
}

.navbar .navbar-hyperlinks {
    cursor: pointer;
    font-weight: 600;
    transition: var(--transition);
    padding: 1rem;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
}

.navbar .navbar-hyperlinks:not(:last-child) {
    margin-right: 3rem;
}

.navbar .navbar-hyperlinks i {
    margin-right: 1rem;
}

.navbar .navbar-hyperlinks:hover {
    color: var(--pageLightBlue);
    border-color: var(--pageLightBlue);
}

.login-btn {
    display: inline-block;
    font-weight: 600;
    color: var(--white);
    background-color: var(--pageBlue);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: var(--transition);
}

.login-btn:hover {
    box-shadow: var(--box-shadow);
}

/* Hamburger Menu Styling */
.header .hamburger img {
    width: 3rem;
}

.header .hamburger {
    display: none;
}

/* ~~~~~ Media Queries for Navigation Bar ~~~~~ */

@media (max-width: 996px) {
    .logo {
        font-size: 3rem;
    }

    .navbar .navbar-hyperlinks {
        padding: 0.5rem;
    }

    .navbar .navbar-hyperlinks:not(:last-child) {
        margin-right: 0.5rem;
    }
}

@media (max-width: 768px) {
    .header .navbar {
        position: fixed;
        /* top: 9rem; */
        left: 0;
        right: 0;
        width: 90%;
        padding: 2.5rem;
        margin: 0 auto;
        box-shadow: var(--box-shadow);
        background-color: var(--white);
        text-align: center;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        transition: 0.4s;
        top: -100%;
    }

    .header .navbar .navbar-hyperlinks:last-child {
        display: none;
    }

    .header .hamburger {
        display: block;
    }

    .navbar.show {
        top: 9rem;
    }
}

@media (max-width: 768px) {
    .navbar.show {
        top: 9rem;
    }
}




/* ~~~~~~~~~~~~~~ Carousel Section Styling ~~~~~~~~~~~~~~~ */

 .carousel-section {
    background: var(--white);
    padding: 50px 0;
  }
  
  .container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
  }

  .carousel > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  .carousel > input:nth-of-type(6):checked ~ .carousel-slides .carousel-slide:first-of-type {
    margin-left: -500%;
  }
  .carousel > input:nth-of-type(5):checked ~ .carousel-slides .carousel-slide:first-of-type {
    margin-left: -400%;
  }
  .carousel > input:nth-of-type(4):checked ~ .carousel-slides .carousel-slide:first-of-type {
    margin-left: -300%;
  }
  .carousel > input:nth-of-type(3):checked ~ .carousel-slides .carousel-slide:first-of-type {
    margin-left: -200%;
  }
  .carousel > input:nth-of-type(2):checked ~ .carousel-slides .carousel-slide:first-of-type {
    margin-left: -100%;
  }
  .carousel > input:nth-of-type(1):checked ~ .carousel-slides .carousel-slide:first-of-type {
    margin-left: 0%;
  }
  .carousel > input:nth-of-type(1):checked ~ .carousel-thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(2):checked ~ .carousel-thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(3):checked ~ .carousel-thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(4):checked ~ .carousel-thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(5):checked ~ .carousel-thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  .carousel > input:nth-of-type(6):checked ~ .carousel-thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
  }
  
  .carousel-slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
  }
  
  .carousel-slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-sizing: border-box;
    white-space: normal;
  }

  .carousel-slide figure {
    display: flex;
    margin: 0;
  }

  .carousel-slide div {
    position: relative;
    width: 100%;
  }

  .carousel-slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
  }

  .carousel-slide div > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .carousel-slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
  }

  .carousel-slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
  }

  .carousel-slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
  }

  .carousel-slide.scrollable {
    overflow-y: scroll;
  }
  
  .carousel-thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
  }

  .carousel-slides + .carousel-thumbnails {
    margin-top: 20px;
  }

  .carousel-thumbnails li {
    flex: 1 1 auto;
    max-width: calc(16.6666666667% - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
  }

  .carousel-thumbnails label {
    display: block;
    position: relative;
  }

  .carousel-thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
  }

  .carousel-thumbnails label > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .carousel-thumbnails label:hover, .carousel-thumbnails label:focus {
    cursor: pointer;
  }

  .carousel-thumbnails label:hover img, .carousel-thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
  }

  .carousel-thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



/* ~~~~~~~~~~~~~~ Card Section Styling ~~~~~~~~~~~~~~~ */
.cards-complete-section {
    background-color: #D7DCDD;
}
  .card-section-header{
    padding: 0% 7% 0%;
    font-size: 250%;
  }

  .card-section-caption {
    padding: 0% 7% 0.5%;
  }

  .styled-line {
    border: none;
    height: 2px;
    width: 90%;
    margin : 0 auto 2%;
    background-color: black;
  }

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-section-header {
    margin-top: 0;
}

.restaurant {
  width: calc(33.33% - 20px);
  height: 100%;
  background: var(--white);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  margin-bottom: 20px;
}

.restaurant .restaurant-img {
  position: relative;
  height: 281px;
  box-shadow: var(--box-shadow);
}

.restaurant .restaurant-img h3 {
  text-align: center;
  position: absolute;
  margin: 0;
  width: 100%;
  color: var(--white);
  font-size: 25px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
  padding: 2.4rem 0 0;
}

.restaurant .restaurant-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.restaurant .restaurant-content {
  flex: 1;
  padding: 0 2em 1em;
}

.restaurant .restaurant-content .restaurant-content-header .row-wrapper {
  display: flex;
  padding: 0.55em 0 0.3em;
  border-bottom: 1px solid #d8d8d8;
}

.restaurant .restaurant-content .restaurant-content-header .row-wrapper .restaurant-food-type {
    color: var(--pageLightBlue);
  font-weight: 500;
}

.restaurant .restaurant-content .restaurant-content-header .restaurant-details {
  display: flex;
  list-style: none;
  padding: 1.4em 0 1em;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.restaurant .restaurant-content .restaurant-content-header .restaurant-details .restaurant-details-item {
  flex: 1;
  flex-basis: 33.33%;
  text-align: center;
}

.restaurant .restaurant-content .restaurant-content-header .restaurant-details .restaurant-details-item i {
  font-size: 30px;
}

.restaurant .restaurant-content .restaurant-content-header .restaurant-details .restaurant-details-item .value {
  color: var(--pageBlue);
  vertical-align: bottom;
  font-size: 24px;
  font-weight: 600;
}

.restaurant .restaurant-content .restaurant-content-header .restaurant-details .restaurant-details-item .title {
  display: block;
  margin-top: -4px;
  font-size: 21px;
  font-weight: 300;
}

.restaurant .restaurant-content .description {
  margin: 0.3em 0 1.8em;
}

.restaurant .restaurant-content .restaurant-footer {
  text-align: center;
  margin: 0 3rem;
}

.restaurant .restaurant-content .restaurant-footer a {
  display: inline-block;
  background: var(--pageBlue);
  padding: 0.45em 1em;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 17px;
  transition: transform 250ms ease, box-shadow 250ms ease;
}

.restaurant .restaurant-content .restaurant-footer a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 34px 0 rgba(79, 214, 255, 0.32);
}

/* ~~~~~ Media Queries for Cards Section ~~~~~ */
@media screen and (max-width: 768px) {
  .restaurant {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .restaurant {
    width: calc(100% - 20px);
  }
}




  section.app {
    margin: 10% 0 0;
    border-radius: 0.5rem;
    background-color: var(--pageLightBlue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    padding: 22rem 0;
  }
  
  section.app .image {
    position: absolute;
    left: 10%;
  }
  
  section.app .image img {
    width: 100%;
  }
  
  section.app .content {
    position: absolute;
    right: 5%;
    width: 45%;
  }
  
  section.app .content h3 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  section.app .content p {
    margin-bottom: 3rem;
  }
  
  section.app .content .links img {
    margin-right: 3rem;
  }

  @media (max-width: 1200px) {
    section.app .image {
      max-width: 20rem;
    }
  }
  
  @media (max-width: 768px) {
    section.app .image {
      display: none;
    }
  
    section.app {
      grid-template-columns: 1fr;
      padding: 20rem 0;
      margin: 5rem 9%;
    }
  
    section.app .content {
      width: 85%;
      left: 50%;
      transform: translateX(-50%);
    }
  
    section.app .content h3 {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }
  
    section.app .content .links img {
      width: 8rem;
      margin-right: 0;
    }
  }
  



  .footer .top {
    background-color: var(--footer-yellow);
    padding: 10rem 9%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .footer .top .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  
  .footer .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    background-color: var(--deep-yellow);
  }
  
  .footer .top .content p {
    color: var(--grey);
    margin-top: 2rem;
    width: 90%;
  }
  
  .footer .top .link h4 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }
  
  .footer .top .link a {
    display: inline-block;
    color: var(--grey);
    margin-bottom: 1rem;
  }
  
  .footer .top .link span {
    color: var(--grey);
  }
  
  .footer .top .link a {
    display: block;
  }
  
  .footer .top .link div {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  
  .footer .top .link div img {
    margin-right: 1rem;
  }

  @media (max-width: 996px) {
  .footer .top {
    padding: 5rem 9%;
    grid-template-columns: 1fr;
  }

  .footer .top .content {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer .top .links {
    grid-template-columns: 1fr;
    gap: 3rem 0;
  }

  .footer .top .link {
    display: flex;
    flex-direction: column;
  }

  .footer .bottom {
    padding: 1.5rem;
  }
}

  